<!DOCTYPE html>
<html ng-app="IPSAdminApp">
	<head>
		<title>IPS Home</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<script src="shared/assets/libs/external/jquery.js"></script>
		<script src="shared/assets/libs/external/bootstrap.js"></script>
		<script src="shared/assets/libs/angular/angular.js"></script>
		<script src="shared/assets/libs/angular/angular-resource.js"></script>
		<script src="shared/assets/libs/angular/angular-route.js"></script>
		<script src="shared/assets/libs/external/ui-bootstrap-tpls.js"></script>
		<script src="shared/assets/libs/angular/ng-grid.js"></script>
		<script src="shared/assets/libs/angular/angular-animate.js"></script>
		<script src="shared/assets/libs/angular/angular-busy.js"></script>
		<script src="shared/assets/js/xmlutil.js"></script>
		<script src="shared/assets/libs/external/hotkeys.js"></script>
		<link rel="stylesheet" type="text/css" href="shared/assets/css/hotkeys.css"/>
		
		<script src="shared/lookandfeel/header/headerDirective.js"></script>
		<script src="shared/lookandfeel/header/headerConstantService.js"></script>
		<script src="shared/lookandfeel/header/headerController.js"></script>
		<script src="shared/lookandfeel/menu/menuDirective.js"></script>
		<script src="shared/util/container/panelDirective.js"></script>
		<script src="shared/util/accessibility/keyNavigation.js"></script>
		<script src="shared/util/shortcutkey/shortcutKeyService.js"></script>		
		<script src="shared/util/customcomp/focusableLabel.js"></script>
		<script src="shared/util/customcomp/multiselect.js"></script>
		<script src="shared/util/ipshttpservice/ipsHttpService.js"></script>
		
		<script src="admin/assets/js/adminHelper.js"></script>
		<script src="admin/admin.route.js"></script>
		<script src="admin/login/loginController.js"></script>
		<script src="admin/login/loginConstantService.js"></script>
		<script src="admin/home/homeController.js"></script>
		<script src="admin/home/homeConstantService.js"></script>
	    <script src="admin/ipsuser/userValueService.js"></script>
	    <script src="admin/ipsuser/userController.js"></script>
	    <script src="admin/ipsuser/userConstantService.js"></script>	
	    <script src="admin/assignment/ipsUserAssignmentController.js"></script>
	    <script src="admin/assignment/ipsUserAssignmentConstantService.js"></script>	
	    <script src="admin/assignment/ipsUserAssignmentValueService.js"></script>
</head>
<body>
	<ipsheader lanName="{{lanName}}"></ipsheader>
	<div resizable>
		<div ng-view></div>
	</div>
</body>

</html>