<div data-ng-controller="IPSUserAssignmentController" style="height:910px;">
     <div style="width:99.5%;margin-left:5px;border:1px solid #000000;"
			cg-busy="{promise:assignmentPromise,templateUrl:'',message:'Please Wait...',backdrop:true,delay:0,minDuration:0}">
     	<p style="margin-left:10px;">
			<span class="panelTitle" key-Navigation>IPS Assignment</span>
		</p> 
     	<div style="width:94%;border:0px solid #a2a2a2;margin-left: 16px;padding: 0 15px;">
	     	<div style="align:center;display: table;border-spacing: 4px;">
				<div style="display: table-row;overflow: auto">
		     		<div style="display: table-cell;width:190px;height: auto;max-height: 200px;">
		     			<span key-Navigation><b>Assignment Category:</b></span><br/>
		     			<multiselect style="width:100%" multiple="false" ng-model="assignmentCategory" label="Select" datafield="_businessObjectDesc" change="assignmentCategoryChangeHandler()" hidefilter="true"
		     			options="_assignmentCategory._businessObjectDesc for _assignmentCategory in _assignmentCategoryList | orderBy:'_businessObjectDesc' "></multiselect>     			
					</div>
		     		<div style="display: table-cell;width:190px;max-height: 200px;">
		     			<span key-Navigation><b>Process(es):</b></span><br/>	     			
						<multiselect style="width:100%" multiple="true" ng-model="subSystem" label="Select" datafield="_displayName" change="subsystemChangeHandler()" 
		     			options="_subsystem._displayName for _subsystem in _subsystemList | orderBy:'_displayName'"></multiselect>     					
					</div>
		     		<div style="display: table-cell;width:190px">
		     			<span key-Navigation><b>Business Role(s):</b></span><br/>	     			
						<multiselect style="width:100%" multiple="true" ng-model="businessRole" label="Select" datafield="businessRoleCode" change="businessRoleChangeHandler()" hidefilter="true" 
		     			options="_businessRole.businessRoleCode for _businessRole in _businessRoleList | orderBy:'businessRoleCode'"></multiselect>    					
		     		</div>
		     		<div style="display: table-cell;width:190px" ng-show=showProgramType>
		     			<span key-Navigation><b>Program Type:</b></span><br/>	     			
						<multiselect style="width:100%" multiple="false" ng-model="programTypeList" label="Select" datafield="name" hidefilter="true"
		     			options="_programType.name for _programType in _programTypeList | orderBy:'name'"></multiselect>    					
		     		</div>
		     		<div style="display: table-cell;width:190px">
		     			<span key-Navigation><b>Users(s):</b></span><br/>	     			
						<multiselect style="width:100%" multiple="true" ng-model="user" label="Select" datafield="_userLanName" 
		     			options="_user._userLanName for _user in _filteredUserList"></multiselect>    					
		     		</div>
		     		<div style="display: table-cell;">
		     			
		     		</div>
		     		
		    	</div>
			</div>
		</div>
		<p align="right" style="margin-right:50px;">
			<button class="standard-btn" type="button" ng-click="showAssignments()" key-Navigation>Show Assignments</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</p>
		<div style="width:94%;margin-left: 30px;" ng-hide="showEmptyMessage" >
			<div class="gridStyle" ng-grid="assignmentGridOptions" class="container-fluid" style="margin: 2px " key-Navigation></div>
		</div>
		<div style="width:94%;height:200px;margin-left: 30px;border:1px solid #a2a2a2;" ng-show="showEmptyMessage">
			<br/><br/><br/><center><h4><focusable-label label='{{emptyMessage}}'/></h4></center>
		</div>
   </div>
</div>   
   