<div align="center" style="margin-left:5px;width:99.5%">
	<div class="navbar-xs" ng-app="menuApp">
	   <div class="navbar-primary">
	       <nav class="navbar navbar-static-top" role="navigation">
	          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
	          	<ul class="nav navbar-nav" ng-repeat="menuItem in menuData.menuitems.menuitem" ng-switch on="menuItem.children">
	          		<li ng-attr-class="{{(menuItem.children) && 'dropdown' || ''}}" ng-switch-when="false" ng-if="menuItem.align=='left'">
				    	<a ng-if="menuItem.active =='false'" style="background-color:#ffffff !important;color:#aaa !important;pointer-events: none;cursor: default;" key-Navigation>{{menuItem.label}}</a>
				    	<a ng-if="menuItem.active =='true' || menuItem.active ==''" ng-click="processAction(menuItem.action)" style="cursor: pointer; cursor: hand;" key-Navigation>{{menuItem.label}}</a>
	          		</li>
	          		<li class="dropdown" ng-switch-when="true" ng-if="menuItem.align=='left'">
				          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="cursor: pointer; cursor: hand;" key-Navigation>{{menuItem.label}} </a>
				          <ul class="dropdown-menu" role="menu" ng-if="menuItem.menuitem.length > 1">
				            <li ng-repeat="menuItem1 in menuItem.menuitem"><a ng-click="processAction(menuItem1.action)" style="cursor: pointer; cursor: hand;" key-Navigation>{{menuItem1.label}}</a></li>
				          </ul>
						  <ul class="dropdown-menu" role="menu" ng-if="menuItem.menuitem.length = 1">
				            <li><a ng-click="processAction(menuItem.menuitem.action)" style="cursor: pointer; cursor: hand;" key-Navigation>{{menuItem.menuitem.label}}</a></li>
				          </ul>
				    </li>
	          	</ul>
	          	<ul class="nav navbar-nav navbar-right" ng-repeat="menuItem in menuData.menuitems.menuitem" ng-switch on="menuItem.children">
	        		<li ng-attr-class="{{(menuItem.children) && 'dropdown' || ''}}" ng-switch-when="false" ng-if="menuItem.align=='right'">
	        			<a ng-click="processAction(menuItem.action)" style="cursor: pointer; cursor: hand;" key-Navigation>{{menuItem.label}}</a>
	        		</li>
	          		<li class="dropdown" ng-switch-when="true" ng-if="menuItem.align=='right'">
				          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" style="cursor: pointer; cursor: hand;" key-Navigation>{{menuItem.label}} </a>
				          <ul class="dropdown-menu" role="menu" ng-repeat="menuItem1 in menuItem.menuitem">
				            <li>
				            	<a ng-click="processAction(menuItem1.action)" style="cursor: pointer; cursor: hand;" key-Navigation>{{menuItem1.label}}</a>
				            </li>
				          </ul>
				    </li>
	      		</ul>
	          </div>
	      </nav>
	  </div>
	</div>
</div>