<center>
 <form ng-submit="changeView('home');" data-ng-controller=LoginController>
  <table style="margin-top:100px">
    <tr>
      <td ><focusable-label label='Username:'/></td>
      <td width="10"></td>
      <td cg-busy="{promise:userProfilePromise,templateUrl:'',message:'Please Wait...',backdrop:true,delay:0,minDuration:0}"><input id="username" type="text" name="username" value="" size="40" ng-model="userProfile.lanName" autofocus key-Navigation></td>
    </tr>
    <tr>
      <td colspan=3 align="center"> 
      	<button type="button" class="submit_btn" ng-click="changeView('home');" key-Navigation>SUBMIT</button>
	  </td>
    </tr>
  </table>
 </form>
</center>