<div class="headercls" ng-app="headerApp">
	<div>
	    <div ng-controller="HeaderController" style="height:96px;">
	      <table width="100%" height="86">
	        <tr>	        
	         <td width="37%">
	          <!--  Left Header SVG -->
			  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="262.000000pt" height="62.000000pt" viewBox="0 0 262.000000 62.000000" 
			    preserveAspectRatio="xMidYMid meet" style="z-index:0;left:0px;top:0px;bottom:0px;position:absolute;" >
			      <defs>
				   <filter id="svg_3_blur" x="0" y="0" width="200%" height="200%">
			        <feOffset result="offOut" in="SourceAlpha" dx="20" dy="30" />
			        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="10" />
			        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
			       </filter>
				 </defs>
			   <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" class="header-leftbanner">
				<path d="M0 500 l0 -500 818 0 817 0 19 53 c122 347 473 717 851 898 l100 48 -1302 0 -1303 1 0 -500z" filter="url(#svg_3_blur)"/>
			   </g>
			  </svg>
			  <!--  BlS Logo -->
				<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="98.264px" height="60.827px" viewBox="0 0 298.264 260.827" enable-background="new 0 0 298.264 260.827"
					 xml:space="preserve" style="position:absolute;top:10px;left:-7px;z-index:1;float:left;" key-Navigation>
				 <defs>
				  <linearGradient y2="0%" x2="100%" y1="0%" x1="0%" id="grad1">
				   <stop stop-color="rgb(145,164,221)" offset="0%"/>
				   <stop stop-color="rgb(255,255,255)" offset="100%"/>
				  </linearGradient>
				 </defs>
				 <g>
				  <title></title>
				  <g id="svg_1">
				   <path fill="url(#grad1)" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" d="m67.35,99.644l-22.6,-16.38599l78.91,0l25.29199,-78.469l16.407,50.10699l22.33701,-18.68401l10.961,12.742l14.08,-12.53699l-5.16299,-7.35l34.179,-10.979l-13.46901,33.972l-7.05098,-7.308l-25.05098,22.61l-10.123,-11.333l-30.621,25.762l-6.48601,-21.82301l-12.34201,39.67599" id="svg_2"/>
				   <path id="svg_3" d="m95.24,178.033l36.30601,0l-22.30301,16.384l-19.284,0l5.281,-16.384zm-26.104,-75.774l158.364,0l-22.22701,16.327l-113.618,0l-22.519,-16.327zm24.227,18.88699l110.225,0l-14.797,10.87001l1.795,5.51399l-83.567,0l1.758,-5.209l-15.414,-11.175zm13.238,19l84.397,0l5.217,16.328l-94.877,0l5.263,-16.328zm-5.68,18.944l95.708,0l5.216,16.32701l-37.271,0l-15.73601,-11.40901l-15.52899,11.40901l-37.65201,0l5.264,-16.32701zm65.438,18.94301l22.59799,16.384l18.53401,0l-5.233,-16.384l-35.899,0zm24.30701,18.94499l17.222,0l5.189,16.24901l-22.411,-16.24901zm-101.106,0l18.232,0l-23.816,17.32201l5.584,-17.32201z" fill="#E30000" clip-rule="evenodd" fill-rule="evenodd"/>
				   <text fill="#ffffff" stroke="#FFFFFF" x="120.70088" y="141.14764" id="svg_4" font-family="Verdana" font-size="200%" text-anchor="middle" xml:space="preserve" transform="matrix(2.54677 0 0 1.77197 -157.932 -99.5482)" font-weight="bold">BLS</text>
				  </g>
				  <text stroke="#000000" transform="rotate(0.0398611 146.527 236.442) matrix(2.12852 0 0 1.65712 42.2296 -81.4397)" font-weight="bold" xml:space="preserve" text-anchor="middle" font-family="Verdana" font-size="200%" id="svg_5" y="200.1651" x="49.04321" stroke-width="0" fill="#ffffff">@Release_Tag@</text>
				 </g>
			   </svg>		         
	          <span style="position:absolute;top:11px;left:98px;z-index:1;float:left;text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);" key-Navigation><h3>{{applicationName}}</h3></span>
	         </td> <!-- Logo -->
	         <!--td width="20%">
	          Welcome {{userProfile.firstName}} {{userProfile.lastName}} 
	         </td-->
	         <td width="31%" align="right">
	         <div ng-show="userProfile.lanName != null">
	          <table>
	           <tr>
	            <td align="right" style="font-weight:bold;line-height:24px;"><focusable-label label='User:'/> </td>
	            <td width="6"></td>
	            <td style="line-height:24px;" align="left"><focusable-label label='{{userProfile.lanName}}'/></td>
	           </tr>
	           <tr>
	            <td align="right" style="font-weight:bold;line-height:24px;"><focusable-label label='DB:'/></td>
	            <td width="6"></td>
	            <td style="line-height:24px;" align="left"><focusable-label label='{{userProfile.dbName}}'/></td>
	           </tr>
	           <tr>
	            <td align="right" style="font-weight:bold;line-height:24px;"><focusable-label label='Business Role(s):'/></td>
	            <td width="6"></td>
	            <td align="left"></td>
	           </tr>
	          </table>
	          </div>
			 </td>
	         <td width="32%" align="right">
	          <table align="right">
	           <tr>
	            <td>
	             <table>
	              <tr>
	               <td width="125" align="right" style="line-height:25px"><b><focusable-label label='Font Size:'/></b></td>
	               <td align="center" width="30"><img src="shared/lookandfeel/header/assets/img/minusSign.png" ng-click="resizeText(-1);" style="cursor: pointer; cursor: hand;" title="Font Size Decrease" key-Navigation></td>
	               <td align="center" width="30"><img src="shared/lookandfeel/header/assets/img/plusSign.png" ng-click="resizeText(1);" style="cursor: pointer; cursor: hand;" title="Font Size Increase" key-Navigation></td>
	               <td width="55" align="left">
	                 <!--  Reset SVG -->
	                 <svg width="55" height="30" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" ng-click="resizeText(0);"  style="cursor: pointer; cursor: hand;" key-Navigation>
					 <g>
					  <g transform="rotate(-0.187401) translate(0 30) scale(0.1 -0.1)" fill="#000000" id="svg_1">
					   <path d="m184.24344,272.76529c-32.67734,-9.65848 -64.29932,-26.21487 -83.27315,-43.46138c-28.46002,-25.5257 -32.67638,-26.90494 -51.64991,-17.93663c-21.08165,9.6584 -22.13572,8.27821 -33.73066,-42.08212c-6.32451,-28.28413 -11.59494,-54.49895 -11.59494,-57.94846c0,-6.20891 92.75945,26.21483 124.38144,43.46132c11.59492,6.20892 10.5417,8.27821 -2.10748,13.10793c-25.29845,8.96831 -20.02811,22.7653 14.7567,42.08115c80.11034,44.15147 162.3293,23.45547 205.54628,-51.73955l18.97382,-33.11382l40.05515,15.17719c45.32553,16.55643 45.32553,20.00592 7.37891,71.05637c-53.75867,69.67624 -131.76047,91.06235 -228.73615,61.39801l0,0z" fill="#bf0000" id="svg_2"/>
					  </g>
					  <text xml:space="preserve" y="26.2645" x="26.9191" transform="matrix(1 0 0 0.972552 0 1.35293)" text-anchor="middle" stroke-width="0" stroke="#000000" fill="#000000" font-weight="bold" font-family="Verdana" id="svg_3">Reset</text>
					 </g>
					</svg>
				   </td>
	              </tr>
	             </table>
	            </td>
	           </tr>
	           <tr>
	            <td>
	             <table>
	              <tr>
	               <td width="145" align="right" style="line-height:35px"><b><focusable-label label='Color Scheme:'/></b></td>
	               <td width="30" align="right"><img src="shared/assets/img/blueSquare.png" ng-click="loadjscssfile('blue');" style="cursor: pointer; cursor: hand;" title="Color Scheme blue" key-Navigation></td>
	               <td width="30" align="center"><img src="shared/assets/img/greenSquare.png" ng-click="loadjscssfile('green');" style="cursor: pointer; cursor: hand;" title="Color Scheme green" key-Navigation></td>
	               <td width="40" align="left"><img src="shared/assets/img/beigeSquare.png" ng-click="loadjscssfile('beige');" style="cursor: pointer; cursor: hand;" title="Color Scheme beige" key-Navigation></td>
	              </tr>
	             </table>
	            </td>
	           </tr>
	          </table>
			 </td>
	        </tr>
	      </table>
	    </div>
	</div>
</div>
<div class="busyView">
</div>