    <div data-ng-controller="IPSUserController" style="height:100%;"> 
      <div style="width:99.5%;height:100%;margin-left:5px;border:1px solid #000000;">
     	<p style="margin:10px;">
			<span class="panelTitle" key-Navigation>User Management</span>
		</p> 
		<div style="width:94%;border:0px solid #a2a2a2;margin-left: 16px;height:100%;">
     	<input type="text" data-ng-model="filterOptions.filterText" class="search-query" placeholder="Filter" key-Navigation>
     	<select data-ng-model="filterOptions.filterColumn" data-ng-options="gccolumn.name for gccolumn in filterColumns" class="search-query" ></select>
		<div>
		  <div class="gridStyle" ng-grid="gridOptions" class="container-fluid" style="margin: 2px " key-Navigation
		  cg-busy="{promise:promise,templateUrl:'',message:'Please Wait...',backdrop:true,delay:0,minDuration:0}">
		  </div>  
		</div>
	
		<div> 
		    <div>
	          <button data-ng_click="getAllIPSUser()" class="btn" style="margin: 15px " key-Navigation>GetAllUsers</button>
            </div>
		</div>
		</div>
	</div>	
   </div>
