<table border="0" style="margin-left: 1px;margin-top: 40px;width:98%">
	<tr>
		<td align="center"><b><focusable-label label='{{errorMsg}}'/></b></td>
	</tr>
	<tr>
		<td align="center">&nbsp;</td>
	</tr>
	<tr>
		<td align="center">
	 		<button type="button" class="submit_btn" onclick="window.close()">CLOSE</button> 				 
		</td>
	</tr>
</table>
