<bgsound src="#" id="timeOutWarningSound" loop=1 autostart="true"/>
<div id="homeControllerDiv" data-ng-controller="HomeController">
&nbsp;<p style="float: right !important;"><b><a ng-click="logOut('logout')" style="cursor: pointer; cursor: hand;" title="Logout"><focusable-label label='Logout'/></a>&nbsp;&nbsp;&nbsp;</b></p>
  <table style="margin:20px 0px">
   <tr>
    <td>
	 <table ng-repeat="(k,v) in subSystems | orderBy:'_displayOrder'">
	  <tr>
	   <td height="34">
	    <!--  Active/Disabled Subsystem SVG -->
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
			pageAlignment="none" x="0px" y="0px" width="382px" height="31px" viewBox="0 0 382 31" 
			enable-background="new 0 0 382 31" xml:space="preserve" xmlns:xml="http://www.w3.org/XML/1998/namespace" 
			class="home-menu-item" style="cursor: pointer; cursor: hand;"  
			ng-click="selectSubSystem(v)" data-toggle="modal" 
			ng-attr-data-target="{{(userProfile.subSystems.indexOf(v.subSystemCode) >= 0 || v.enableDefault =='true') && v.subSystemModal || ''}}"  
			ng-attr-class="{{(userProfile.subSystems.indexOf(v.subSystemCode) >= 0 || v.enableDefault =='true') && 'home-menu-item' || 'home-menu-item-disable'}}" key-Navigation>
			<defs/>
			<g type="LAYER" name="workspace" id="workspace" locked="true"/>
			<g type="LAYER" name="Layer 01" id="Layer 01">
			<!-- path transform="matrix(1 0 0 1 4.440892098500626e-15 0)" width="332" height="31.000000000000007" 
			stroke-width="1.8088464342320654" stroke-miterlimit="3" stroke="none" 
			d="M-1.7763568394002505e-15,0 L292,0 L232,31.000000000000007 L-1.7763568394002505e-15,27.000000000000007 L-1.7763568394002505e-15,0 Z "/-->
			<rect id="svg_1" width="382" height="31.000000000000007" stroke-width="0"/>
			<text type="textBox" transform="matrix(1 0 0 1 22.82439926062844 0.06931608133088218)" width="228.2439926062848" height="25" 
			stroke-width="3" stroke-miterlimit="3" stroke="none" fill="#FFFFFF" font-family="Verdana" font-size="94%" font-weight="bold" text-align="left" text-anchor="start">
			<tspan x="0" y="17"><![CDATA[{{v.subSystemDesc}}]]></tspan></text>
			<path transform="matrix(1 0 0 1 8.073937153419603 11.869685767097955)" width="5.000000000000002" height="4.502772643253238" stroke-width="3.055927105837188" stroke-miterlimit="3" 
			stroke="none" fill="#FF0000" d="M1.7763568394002505e-15,2.251386321626626 C1.7763568394002505e-15,1.007979877264333 1.119288000000008,0 2.5000000000000036,0 C3.880711999999992,
			0 5.0000000000000036,1.007979877264333 5.0000000000000036,2.251386321626626 C5.0000000000000036,3.494792765988933 3.880711999999992,4.502772643253238 2.5000000000000036,
			4.502772643253238 C1.119288000000008,4.502772643253238 1.7763568394002505e-15,3.494792765988933 1.7763568394002505e-15,2.251386321626626 Z "/>
			</g>
		</svg> 
	   </td>
	  </tr>	  
	 </table>
    </td>
    <td width="30"></td>
    <td width="200">

		<!-- ViewModal for all Business Roles -->
		<div class="modal fade" id="businessRoleModal" tabindex="-1" role="dialog" aria-labelledby="businessRoleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="businessRoleModalLabel"><focusable-label label='Business Role(s):'/></h4>
		      </div>
		      <div class="modal-body" style="width:100%;margin: 25px">
		      	<span key-Navigation>Choose a Business Role:</span><br/><select ng-model="selectedItem" ng-options="task.roleCodeDesc for task in selectedBusinessRoleTaskPermList">
		      		</select><br/><br/>
				
				<button type="button" class="submit_btn" ng-click="openSubsystem()" data-dismiss="modal" key-Navigation>SUBMIT</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- ViewModal for Build Info  -->
		<div class="modal fade" id="buildModal" tabindex="-1" role="dialog" aria-labelledby="buildModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="buildModalLabel"><focusable-label label='IPS: Build Information:'/></h4>
		      </div>
		      <div class="modal-body" style="width:100%;margin: 25px">
				<p><focusable-label label='Build Version: @Build_Version@'/></p>
				<p><focusable-label label='Build Date-Time: @Build_DateTime@'/></p>
				<button type="button" class="submit_btn" data-dismiss="modal" key-Navigation>Close</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- ViewModal for Timeout Warning  -->
		<div class="modal fade" id="timoutWarningModal" tabindex="-1" role="dialog" aria-labelledby="timoutWarningModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="timoutWarningModalLabel"><focusable-label label='IPS: Timeout warning'/></h4>
		      </div>
		      <div class="modal-body" style="width:100%;margin: 25px">
				<p key-Navigation>You will be logged out of IPS in {{counterMsg}}, would you like to continue working? Select
				"Yes" to renew your session. Select "No" or take no action to allow
				your session to end.</p>
				<center><button type="button" class="submit_btn" data-dismiss="modal" ng-click="extendSession()" key-Navigation>YES</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="button" class="submit_btn" data-dismiss="modal" ng-click="manualLogout()" key-Navigation>NO</button></center>
		      </div>
		    </div>
		  </div>
		</div>
    </td>
   </tr>
  </table> 
 </div>
